@model CreateSaleViewModel;

@{
    ViewData["Title"] = "Create Sale";
}

<h1 class="display-4">Create Sale</h1>

<div>@Model.SaleId</div>

<form asp-action="CreateSale">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="SaleId" />
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SellerAddress" class="control-label"></label>
        <select asp-for="SellerAddress" class="form-control">
            <option></option>
        </select>
        <span asp-validation-for="SellerAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@if (ViewBag.TransactionHash != null)
{
    <div>Proceed to <a asp-action="SaleInfo" asp-route-id="@Model.SaleId">Sale Info</a></div>
    <div>View Application Log: <a asp-action="AppLog" asp-route-id="@ViewBag.TransactionHash">@ViewBag.TransactionHash</a></div>
}

@section Scripts {
    
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(() => {
            getNeoExpress()
                .then(data => populateWalletSelect("#SellerAddress", data));
        });
        
        async function getNeoExpress() {
            const response = await fetch('neoexpress');
            const data = await response.json();
            return data;
        }

        function populateWalletSelect(id, data) {
            const select = $(id);
            
            for (let w of data.wallets)
            {
                for (let a of w.accounts)
                {
                    if (a["is-default"])
                    {
                        var o = new Option(w.name, a["script-hash"]);
                        $(o).html(w.name);
                        select.append(o);
                    }
                }
            }
        }
   </script>
}