@model SaleViewModel?;

@{
    ViewData["Title"] = "Sale Info";
}

<h1 class="display-4">Sale Info</h1>

@await Html.PartialAsync("_SaleInfo", Model)

@if (@Model?.State == SaleViewModel.SaleState.New)
{
    <div>Proceed to <a asp-action="BuyerDeposit" asp-route-id="@Model.SaleId">Buyer Deposit</a></div>
}

@if (@Model?.State == SaleViewModel.SaleState.AwaitingShipment)
{
    <div>Proceed to <a asp-action="ConfirmShipment" asp-route-id="@Model.SaleId">Confirm Shipment</a></div>
}

@if (@Model?.State == SaleViewModel.SaleState.ShipmentConfirmed)
{
    <div>Proceed to <a asp-action="ConfirmReceived" asp-route-id="@Model.SaleId">Confirm Received</a></div>
}
